<h1>New Contact</h1>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag "/contacts", method: :post do %>
  <div>
    <label for=""> First Name </label>
    <input type="text" name="first_name">
  </div>

  <div>
    <label for=""> Middle Name </label>
    <input type="text" name="middle_name">
  </div>

  <div>
    <label for=""> Last Name </label>
    <input type="text" name="last_name">
  </div>

  <div>
    <label for=""> Email </label>
    <input type="text" name="email">
  </div>

  <div>
    <label for=""> Phone Number </label>
    <input type="text" name="phone_number">
  </div>

  <div>
    <label for=""> Bio </label>
    <input type="text" name="bio">
  </div>

  <div>
    <label for=""> Address </label>
    <input type="text" name="address">
  </div>

  <div>
    <input type="submit" value="Add Contact">
  </div>

<% end %>